In [1]:
url = "https://olinda.bcb.gov.br/olinda/servico/Pix_DadosAbertos/versao/v1/odata/ChavesPix(Data=@Data)?@Data='2023-01-01'&$top=10000&$format=json&$select=Data,ISPB,Nome,NaturezaUsuario,TipoChave,qtdChaves"

In [2]:
import pandas as pd
import json
import requests

In [3]:
def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

In [4]:
requisicao_api(url)

Status Code: 200

In [5]:
jsondata = pd.read_json('resultado.json')

In [6]:
jsondata

,@odata.context,value
0,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2025-06-30', 'ISPB': '67960229', 'No..."
1,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2024-06-30', 'ISPB': '07564184', 'No..."
2,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2023-02-28', 'ISPB': '07440317', 'No..."
3,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2025-01-31', 'ISPB': '33641877', 'No..."
4,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2024-10-31', 'ISPB': '07097064', 'No..."
...,...,...
9995,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2024-09-30', 'ISPB': '31872495', 'No..."
9996,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2023-02-28', 'ISPB': '03222753', 'No..."
9997,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2024-08-31', 'ISPB': '54190525', 'No..."
9998,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2023-10-31', 'ISPB': '78865995', 'No..."
9999,https://was-p.bcnet.bcb.gov.br/olinda/servico/...,"{'Data': '2025-07-31', 'ISPB': '11760553', 'No..."

In [7]:
data = jsondata['value']

In [8]:
dados_df = pd.json_normalize(data)

In [9]:
dados_df.head()

,Data,ISPB,Nome,NaturezaUsuario,TipoChave,qtdChaves
0,2025-06-30,67960229,CC CREDIGUAÇU,PF,Celular,6255
1,2024-06-30,07564184,COOP ASCOOB SERTÕES,PF,Celular,6
2,2023-02-28,07440317,CC SICOOB CREDMED,PJ,Celular,1
3,2025-01-31,33641877,EQUIS BANK,PJ,e-mail,4
4,2024-10-31,07097064,COOP SICOOB CONFIANÇA,PF,Aleatória,2427